{
  "plugins": ["lodash", "transform-runtime"],
  "presets": [
    ["env", { "modules": false, "targets": { "node": 4 } }],
    ["es2015", { "modules": false }],
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "plugins": ["lodash", "transform-runtime", "transform-react-remove-prop-types"]
    }
  }
}
