{
  "root": true,
  "parser": "babel-eslint",
  "plugins": ["react", "import", "react-hooks", "react-perf"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:react-perf/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      { "ignoreRestSiblings": true }
    ],
    "react/prop-types": "warn",
    "prefer-object-spread": "warn",
    "react-hooks/rules-of-hooks": "error"
  },
  "globals": {
    "process": false
  }
}
