.box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  display: block;
  margin: 0 auto 40px;
}

.chart-container {
  padding: 1.25rem;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.handle-se:after {
  content: '⤡';
  height: 50px;
  width: 50px;
  background: white;
  border: 1px solid rgba(10,10,10,.1);
  border-radius: 40px;
  font-size: 3em;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: -15px;
  left: -15px;
}
