.date-range-pickers {
  float: right;
  position: relative;
  z-index: 1000;
}

.date-range-pickers_label {
  color: #666;
}

.date-range-pickers .DayPickerInput > input {
  border: 1px solid #e6e6e6;
  color: #666;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  width: 100px;
}

.date-range-pickers__to-label {
  margin-left: 10px;
}
