.app {
  max-width: 1024px;
}

.league-table-chart {
  position: relative;
}

.league-table-chart:before {
  content: '';
  position: absolute;
  top: 60px;
  bottom: 55px;
  left: 65px;
  right: 205px;
  background: url('https://upload.wikimedia.org/wikipedia/commons/2/2c/Premier_league_trophy_icon.png') center center no-repeat;
  background-size: contain;
  opacity: 0.1;
}

.input {
  margin: 0 200px 0 65px;
}

@media (max-width: 767px) {
  .chart:before {
    right: 15px;
  }

  .input {
    margin-right: 65px;
  }
}